 <div class = 'container'>
        <form [formGroup]="sessionEntry" (ngSubmit)="onSubmit()" class='form' *ngIf="responseCodeFromEndpoint!==200">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Sign Up Form</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="formGroup">
                 <mat-form-field>
                    <input id="name" formControlName='name' matInput placeholder="First & Last Name" [required]=true/>
                 </mat-form-field>
              </div>
              <div class="formGroup">
                <mat-form-field>
                   <input id="pn_id" formControlName='pn_id' matInput placeholder="Poker Now ID" [required]=true/>
                </mat-form-field>
                <div *ngIf="responseCodeFromEndpoint===409">
                  <h1 class="error">This poker now id has already registered. Please make sure you are entering the correct poker now id. If you continue to have issues, reach out to Kalpit.</h1>
                </div>
                <p>Please follow the steps in the discord to get this ID. It is critical that this id is correct. If you need help, reach out to Kalpit.</p>
              </div>
              <div class="formGroup">
                <p>Please do not submit the form unitl you have joined the <a [href]="myLink" target="_blank">Splitwise Group</a></p>
                <mat-form-field>
                  <input id="splitwise_email" formControlName='splitwise_email' matInput placeholder="Splitwise Email" [required]=true/>
                </mat-form-field>
                <div *ngIf="responseCodeFromEndpoint===404">
                <h1 class="error">That splitwise email is not associated with any user in the Group. Please join the group first.</h1>
              </div>
                <p>Please ensure there are no typos & you are using the email that is associated with your Splitwise Account</p>
              </div>
              <div class="formGroup">
                <mat-form-field>
                  <input id="discord_username" formControlName='discord_username' matInput placeholder="Discord Username" [required]=true>
                </mat-form-field>
                <p>Please enter your discord username not your display name.</p>
              </div>
              <div class="formGroup">
                <mat-checkbox formControlName="acknowledgment" [required]=true>
                  Please confirm that you have read all the rules by clicking this box.
              </mat-checkbox>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button type="submit" class='submitButton' [disabled]="!sessionEntry.valid">Submit</button>
            </mat-card-actions>
          </mat-card>
        </form>
          <div  *ngIf="responseCodeFromEndpoint===200">
            <mat-card>
              <mat-card-content class="success">
                <h3>Thanks, {{sessionEntry.value.name}}!!</h3>
                <p>{{response}}</p>
                <button style="padding: 15px;" (click)="backToForm()">Back</button>
              </mat-card-content>
            </mat-card>
          </div>
    </div>