@import "~bootstrap/dist/css/bootstrap.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

.wrapper {
  background-color: #121212;
  width:100vw;
  display: flex;
}

  .container {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      background-color:#121212;
    }

  .form {
    padding-top: 5%;
    color: rgb(141, 141, 141);
    font-family: 'Raleway',sans-serif;
    font-size: 20px;
  }

  mat-card {
    background-color: #181818;
  }
  mat-form-field {
    width: 100%;
  }
  mat-card-title{
    color: #BB86FC;
  }
  mat-grid-list{
    color: white;
  }
  mat-grid-tile-header{
    justify-content: center;
  }
  mat-grid-tile-footer{
    justify-content: center;
  }
  .formGroup {
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
  }

  .submitButton {
    width: 100%;
  }

 button{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  border:none;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
  transition: .2s;
  overflow: hidden;
  margin-right: 50px;
  background-color: #121212;
}

button:hover{
  background-color: whitesmoke;
  color: #050801;
  box-shadow: 0 0 5px whitesmoke,
              0 0 25px whitesmoke,
              0 0 50px whitesmoke,
              0 0 200px whitesmoke;

  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

  .entry_added {
    display: flex;
    justify-content: center;
  }

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.chart-container {
  background-color: #121212;
  height: 50vh;
  width:90vw;
}
.chart-card {
  width: 90vw;
  height: 50vh;
}