<div class="wrapper">
  <div class = 'container'>
    <form [formGroup]="viewData" (ngSubmit)="getInfo()" class='form'>
      <mat-card>
        <mat-card-header>
          <mat-card-title>View Data</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="formGroup">
            <mat-form-field>
              <input id="id" formControlName='id' matInput placeholder="ID"/>
            </mat-form-field>
          </div>
          <div class="formGroup">
            <mat-radio-group formControlName="option">
              <mat-radio-button value="1">All Time</mat-radio-button>
              <mat-radio-button value="2">Past Week</mat-radio-button>
              <mat-radio-button value="3">Past Month</mat-radio-button>
              <mat-radio-button value="4">Past Year</mat-radio-button>
              <mat-radio-button value="5">Custom</mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngIf="viewData.value.option === '5'" class="formGroup">
            <label for="beg_date">Beginning Date: </label>
            <input id="beg_date" type="date" formControlName="beg_date">
          </div>
          <div *ngIf="viewData.value.option === '5'" class="formGroup">
            <label for="end_date">End Date: </label>
            <input id="end_date" type="date" formControlName="end_date">
          </div>
          <button type="submit" class='submitButton' [disabled]="!viewData.valid">Submit</button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  <div *ngIf="response" style="flex: auto">
    <mat-grid-list cols="4" rowHeight="79:100">
      <mat-grid-tile>
        <mat-grid-tile-header>All Time Winnings</mat-grid-tile-header>
        <h1>{{userStats.all_time_total}}</h1>
      </mat-grid-tile>
      <mat-grid-tile >
        <mat-grid-tile-header>Average All Time Win/Loss</mat-grid-tile-header>
        <h1>{{userStats.average_all_time_win_or_loss}}</h1>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>Largest Amount Won in 1 Session</mat-grid-tile-header>
        <h1>{{userStats.biggest_win}}</h1>
        <mat-grid-tile-footer>{{userStats.date_of_biggest_win}}</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>Largest Amount Lost in 1 Session</mat-grid-tile-header>
        <h1>{{userStats.biggest_loss}}</h1>
        <mat-grid-tile-footer>{{userStats.date_of_biggest_loss}}</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header># of positive sessions</mat-grid-tile-header>
        <h1>{{userStats.number_of_sessions_positive}}</h1>
        <mat-grid-tile-footer>{{userStats.positive_percentage}}%</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header># of negative sessions</mat-grid-tile-header>
        <h1>{{userStats.number_of_sessions_negative}}</h1>
        <mat-grid-tile-footer>{{userStats.negative_percentage}}%</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>Total Sessions Played</mat-grid-tile-header>
        <h1>{{userStats.total_sessions_played}}</h1>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<div *ngIf="shouldShowCard">
  <div class="chart-container">
    <mat-card class="chart-card">
      <h1 class="mat-h1">Charts</h1>
      <mat-card-content class="chart-content">
          <canvas id="WinningsOverTime">{{chart}}</canvas>
      </mat-card-content>
    </mat-card>
  </div>
</div>



