<div class="wrapper">
  <div class = 'container'>
    <form [formGroup]="viewData" (ngSubmit)="getInfo()" class='form'>
      <mat-card>
        <mat-card-header>
          <mat-card-title>View Data</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="formGroup">
            <mat-form-field>
              <input id="id" formControlName='id' matInput placeholder="ID"/>
            </mat-form-field>
          </div>
          <div class="formGroup">
            <mat-radio-group formControlName="option">
              <mat-radio-button value="1">All Time</mat-radio-button>
              <mat-radio-button value="2">Past Week</mat-radio-button>
              <mat-radio-button value="3">Past Month</mat-radio-button>
              <mat-radio-button value="4">Past Year</mat-radio-button>
              <mat-radio-button value="5">Custom</mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngIf="viewData.value.option === '5'" class="formGroup">
            <label for="beg_date">Beginning Date: </label>
            <input id="beg_date" type="date" formControlName="beg_date">
          </div>
          <div *ngIf="viewData.value.option === '5'" class="formGroup">
            <label for="end_date">End Date: </label>
            <input id="end_date" type="date" formControlName="end_date">
          </div>
          <button type="submit" class='submitButton' [disabled]="!viewData.valid">Submit</button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
<div *ngIf="shouldShowCard">
  <div class="chart-container">
    <mat-card class="chart-card">
      <h1 class="mat-h1">Charts</h1>
      <mat-card-content class="chart-content">
          <canvas id="WinningsOverTime">{{chart}}</canvas>
      </mat-card-content>
    </mat-card>
  </div>
</div>



