@import "~bootstrap/dist/css/bootstrap.css";
  .wrapper {
    background-color: #121212;
  }

  .container {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      background-color:#121212;
    }

  .form {
    background-color: #1f1f1f;
    padding-left: 10%;
    padding-bottom: 4%;
    padding-right: 10%;
    padding-top: 5%;
    color: whitesmoke;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
  }

  .formGroup {
    margin-bottom: 3%;
    justify-content: center;
  }
  .submitButton {
    width: 100%;
  }

 button{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  border:none;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
  transition: .2s;
  overflow: hidden;
  margin-right: 50px;
  background-color: #121212;
}

button:hover{
  background-color: whitesmoke;
  color: #050801;
  box-shadow: 0 0 5px whitesmoke,
              0 0 25px whitesmoke,
              0 0 50px whitesmoke,
              0 0 200px whitesmoke;

  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

  .entry_added {
    display: flex;
    justify-content: center;
  }
