@import "~bootstrap/dist/css/bootstrap.css";

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form {
    background-color: #ffffff57;
    padding: 50px;
    border-radius: 5px;
  }
  
  .formGroup {
    margin-bottom: 20px;
    justify-content: right;
  }
  
  .submitButton {
    width: 100%;
  }

  .entry_added {
    display: flex;
    justify-content: center;
  }