<div class="wrapper">
  <div class = 'container'>
        <form [formGroup]="sessionEntry" (ngSubmit)="onSubmit()" class='form'>
            <div class="formGroup">
                <label for="id">ID: </label>
                <input id="id" type="number" min="1" formControlName="id">
            </div>
            <div class="formGroup">
                <label for="winnings">Profit/Loss: </label>
                <input id="winnings" type="number" formControlName="winnings">
            </div>
            <div class="formGroup">
                <label for="buy_in_amount">Buy In Amount: </label>
                <input id="buy_in_amount" type="number" formControlName="buy_in_amount">
            </div>
            <div class="formGroup">
                <label for="buy_out_amount">Buy Out Amount: </label>
                <input id="buy_out_amount" type="number" formControlName="buy_out_amount">
            </div>
            <div class="formGroup">
                <label for="location">Location: </label>
                <input id="location" type="text" formControlName="location">
            </div>
            <div class="formGroup">
                <label for="date">Date: </label>
                <input id="date" type="date" formControlName="date">
            </div>
            <button type="submit" class='submitButton' [disabled]="!sessionEntry.valid">Submit</button>
        </form>
          <div class="alert alert-success" role="alert" *ngIf="added">
              <h1 class="entry_added">{{added}}</h1>
          </div>
    </div>
</div>
