<div class="wrapper">
  <div class = 'container'>
        <form [formGroup]="sessionEntry" (ngSubmit)="onSubmit()" class='form'>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Session Information Logger</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="formGroup">
                 <mat-form-field>
                    <input id="id" formControlName='id' matInput placeholder="ID"/>
                 </mat-form-field>
              </div>
              <div class="formGroup">
                <mat-form-field>
                   <input id="winnings" formControlName='winnings' matInput placeholder="Profit/Loss"/>
                </mat-form-field>
              </div>
              <div class="formGroup">
                <mat-form-field>
                  <input id="buy_in_amount" formControlName='buy_in_amount' matInput placeholder="Buy In Amount"/>
                </mat-form-field>
              </div>
              <div class="formGroup">
                <mat-form-field>
                  <input id="buy_out_amount" formControlName='buy_out_amount' matInput placeholder="Buy Out Amount">
                </mat-form-field>
              </div>
              <div class="formGroup">
                <mat-form-field>
                  <mat-label>Select an option</mat-label>
                  <mat-select formControlName="location">
                    <mat-option id="location" *ngFor="let option of locations" [value]="option.value">{{option.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="formGroup">
                <label for="date">Date: </label>
                <input id="date" type="date" formControlName="date">
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button type="submit" class='submitButton' [disabled]="!sessionEntry.valid">Submit</button>
            </mat-card-actions>
          </mat-card>
        </form>
          <div class="alert alert-success" role="alert" *ngIf="added">
              <h1 class="entry_added">{{added}}</h1>
          </div>
    </div>
</div>
