@import "~bootstrap/dist/css/bootstrap.css";
.navbar-brand, .navbar-nav {
  color: #BB86FC;
  font-family: 'Raleway',sans-serif;
  font-size: 32px;
  margin-left: 1%;
}
.navbar-nav {
  font-size: 20px;
  display: flex;
  justify-content: left;
}

.nav-link {
  position: relative;
}

.nav-link::after{
  opacity: 0;
  transition: all 1s;
}

.nav-link:hover::after {
  content: '';
  opacity: 1;
  height: 2px;
  width: 100%;
  background-color: #03dac5;
  position: absolute;
  left: 0;
  bottom: 0;
}


@media (max-width: 768px) {
  .mobile {
    display: flex;
    justify-content: center;
  }
}